.navbar-dark {
    color: #FFFFFF;
}

.app-body {
    padding: 15px;
}

.card-body {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.annc-header {
    border-style: solid;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    border-color: #E0E0E0;
}

.container {
    padding-top: 15px;
}

.red-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    z-index: 900;
    max-height: calc(100vh - 56px);
}
